.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header__Title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.Header__Cart {
  display: inline-block;
  border: solid 1px black;
  border-radius: 1rem;
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.1rem 1rem;
  margin-bottom: 0.9rem;
}

.Header__Line {
  height: 0;
  width: 100%;
  border: solid 1px black;
}
